// reset css
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// variables
$primary-color: #49a6e9;
$body-background: hsl(210, 36%, 96%);
$light-shadow: rgba(0, 0, 0, 0.1);
$color-gray: hsl(209, 34%, 30%);

body {
  background-color: hsl(210, 36%, 96%);
}

ul {
  list-style: none;
}

img {
  height: 40px;
}

// navbar
.navbar-center {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ffff;
}

.bars {
  cursor: pointer;
}

[class^="fa"] {
  color: $primary-color;
}

// nav links
.navbar {
  background-color: #ffff;
  box-shadow: 0 5px 8px $light-shadow;

  .nav-links li {
    padding: 0.6rem;
    margin-left: 1rem;
  }

  a {
    padding: 1rem 1rem 1rem 0;
    text-decoration: none;
    color: $color-gray;
    font-size: 1.3rem;
    letter-spacing: 5px;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
}

.show {
  height: 12rem;
}

.social-links {
  display: none;
}

@media only screen and (min-width: 800px) {
  .navbar-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    .navbar-center {
      padding: 1rem 0;
    }

    .bars {
      display: none;
    }

    .nav-links {
      height: auto;
      display: flex;
      align-items: center;

      li {
        padding: 0;
      }
    }

    .social-links {
      display: block;

      &__icons {
        height: 100%;
        display: flex;
        align-items: center;
      }

      & a {
        padding: 0 0.8rem 0 0;
        font-size: 1.2rem;
      }
    }
  }
}
